<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiêu đề trang</title>
    <link rel="stylesheet" th:href="@{/css/common/layout.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
 </head>
<body>
<div class="header" th:replace="~{fragments/header::navbar}" th:remove="tag">

</div>

<div class="footer" th:replace="~{fragments/footer::footer}">

</div>
<script th:src="@{/js/layout.js}"></script>
</body>
</html>