<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/normalize.css" />
</head>
<body>
	<header>
        <img src="/assets/image/logo-gvht.png" class="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="/">Trang Chủ</a></li>
                <li><a href="/quan-ly-lao-dong">Lao động</a></li>
                <li><a href="/quan-ly-khach-hang">Khách hàng</a></li>
                <li><a href="/thong-tin">Thông tin</a></li>
                <li><a href="/bang-gia">Bảng giá</a></li>
            </ul>
        </nav>
        <div class="action">
            <a class="cta" href="/contact"><button>Contact</button></a>
            <a class="cta login" href="/login"><button>Login</button></a>
        </div>
    </header>
    <div class="content" layout:fragment="content">
    </div>
    
    <th:block layout:fragment="scripts">
    
    </th:block>
</body>
</html>