<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>Quản lý lao động</title>
	<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
</head>

<body>

	<div layout:fragment="content">
		<table id="tblLaoDong">
		</table>
	</div>

	<th:block layout:fragment="scripts">
	<script type="text/javascript" src="assets/js/vue.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
	<script type="text/javascript" src="assets/js/pages/laodong.js"></script>
	</th:block>
</body>

</html>